<% @dancers.each do |dancer| %>
  <div class="boxing col-10 offset-1">
    <h1><%= dancer.name %></h1>
    <i><%= dancer.bio %></i><br /><br />
    <p>-Dance Style: <%= dancer.style %></p><br />
  </div>
<% end %>